.main {
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
}
.left {
  display: flex;
  flex: 0 0 40%;
}
.right {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
}
.top {
  display: flex;
}
.topLeft {
  display: flex;
  flex: 0 0 60%;
}
.topRight {
  display: flex;
  flex: 0 0 40%;
}
